<% provide :title, t(".title") %>
<div class="row">
  <div class="login-container">
    <div class="login-mockup">
      <%= image_tag("resources/Mockup.png", class: "iphone-mockup") %>
    </div>
    <div class="login-form">
      <div class="login-form-wrapper">
        <div class="form-container">
          <%= form_for(:session, url: login_path) do |f| %>
            <%= image_tag("resources/logo.png", class: "logo") %>
            <%= f.text_field :login, placeholder: "Username or email", class: "input-field" %>
            <%= f.password_field :password, placeholder: "Password", class: "input-field" %>
            <%= f.submit t(".title"), class: "submit-button" %>
            <div class="strike">
              <div></div>
              <span><%= t(".or") %></span>
              <div></div>
            </div>
            <div class="login-option google-option">
              <%= link_to t(".google", icon: image_tag("resources/google.png")).html_safe, "auth/google_oauth2" %>
            </div>
            <div class="login-option forgot-option">
              <%= link_to t(".forgot"), new_password_reset_path %>
            </div>
          <% end %>
        </div>
        <div class="form-container">
          <p><%= t(".ifNot") %> <%= link_to t(".signup"), signup_path %></p>
        </div>
      </div>
    </div>
  </div>
</div>
