$('.post-box-comment-<%= params[:id] %>').empty();
<% if Post.find_by_id(params[:id]).comments.count > Settings.min_comment_load * params[:page].to_i %>
  $('.post-box-comment-<%= params[:id] %>').append('<div class="load-more-comm-wrapper\
   load-more-comm-wrapper-<%= params[:id] %>"></div>')
  $('.load-more-comm-wrapper-<%= params[:id] %>').append('<%= j link_to t(".load-more"),\
    {controller: "comments", action: "index", id: params[:id], page: params[:page].to_i + 1},\
    class: "load-more-comm load-more-comm-#{params[:id]}", value: 1, remote: true %>')
<% end %>
$('.post-box-comment-<%= params[:id] %>').append('<%= j render @comments %>');
$('#my-posts').masonry('reload');
$('.comment-section').empty();
<% if Post.find_by_id(params[:id]).comments.count > Settings.min_comment_load * params[:page].to_i %>
  $('.comment-section').append('<div class="load-more-wrapper\
   load-more-wrapper-<%= params[:id] %>"></div>')
  $('.load-more-wrapper-<%= params[:id] %>').append('<%= j link_to t(".load-more"),\
    {controller: "comments", action: "index", id: params[:id], page: params[:page].to_i + 1},\
    class: "load-more-comm load-more-comm-#{params[:id]}", value: 1, remote: true %>')
<% end %>
$('.comment-section').append('<%= j render @comments %>');

