<script type="text/javascript">
  <%= render "comment.js" %>
</script>
<div class="row post-popup">
  <div class="post-image col-md-8">
    <%= image_tag @post.image.url(:post), id: "post-img" %>
  </div>
  <div class="post-stuffs col-md-4">
    <div class="post-user">
      <%= link_to "#{image_tag @post.user.avatar} #{@post.user.username}".html_safe, @post.user %>
    </div>
    <div class="post-main">
      <% unless @post.caption.empty? %>
        <div class="post-caption">
          <%= sanitize @post.caption %>
        </div>
      <% end %>
      <div class="comment-section">
        <ul>
        <% if @post.comments %>
          <% @post.comments.each do |c| %>
            <li class="comment-<%= @post.id %>">
              <span class="comment-username">
                <%= c.user.username %>
              </span>
              <span class="comment-content">
                <%= sanitize c.content %>
              </span>
              <span>
                <% if is_destroyable? c %>
                  <%= link_to "",
                    partials_post_comment_path(@post.id, c.id),
                    method: :delete,
                    data: {confirm: t(".are_you_sure")},
                    class: "glyphicon glyphicon-remove delete-comment" %>
                <% end %>

              </span>
            </li>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="interactive-box">
      <div class="post-info">
        <span class="post-like"></span>
        <span class="post-comment"></span>
        <div class="post-time">
          <%=time_ago_in_words(@post.created_at).upcase %> <%= t ".ago"%>
        </div>
      </div>
      <div class="comment-box">
        <%= form_for [:partials_post, @comment], html: { class: "comment-form" } do |f|%>
          <div class="comment-textarea" contenteditable="true" placeholder="<%= t ".new_comment" %>"></div>
          <%= f.hidden_field :content,
            class: "form-control comment-hidden-field",
            id: "comment-for-#{@post.id}" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
