<% if current_user?@user %>
  <%= link_to t(".edit"), edit_user_path, class: "edit-profile-button" %>
  <%= link_to "<span class='glyphicon glyphicon-off'></span>".html_safe,
    logout_path, method: :delete, class: "logout-button" %>
<% else %>
  <div id="follow_form">
  <% if @user.isprivate? && !current_user.following?(@user)%>
    <% if current_user.requesting? @user %>
      <%= render "cancel_request" %>
    <% else %>
      <%= render "send_request" %>
    <% end %>
  <% else %>
    <% if current_user.following? @user %>
      <%= render "unfollow" %>
    <% else %>
      <%= render "follow" %>
    <% end %>
  <% end %>
  </div>
<% end %>
