<% provide :title, @user.fullname %>
<div class="user-page-container">
  <div class="user-page-header">
    <div class="user-page-avatar">
      <%= image_tag @user.avatar %>
    </div>
    <div class="user-page-info">
      <div class="user-page-info-row user-page-info-row-1">
        <h3><%= @user.username %></h3>
        <%= render "follow_form" if logged_in? %>
      </div>
      <div class="user-page-info-row user-page-info-stat">
        <% @user ||= current_user %>
          <%= t(".posts", count: "<strong class='stat'> #{@user.posts.count} </strong>").html_safe%>
          <%= link_to t(".followers",
            count: "<strong id='followers', class='stat'> #{@user.followers.count} </strong>").html_safe,
            followers_user_path(@user) %>
          <%= link_to t(".following",
            count: "<strong class='stat'> #{@user.following.count} </strong>").html_safe,
            following_user_path(@user) %>
      </div>
      <div class="user-page-info-row">
        <p><b><%= @user.fullname %></b> <%= @user.bio%></p>
      </div>
    </div>
  </div>
  <div class="user-page-main">
    <div class="user-page-main-wrapper">
      <% @posts.each do |p| %>
      <div class="user-post", value=<% p.id %>>
        <div class="user-post-stat user-post-stat-<%= p.id %>">
          <div class="user-post-stat-component">
            <%=image_tag "resources/likefill.png"%>
            <p><%= p.likes.count %></p>
          </div>
          <div class="user-post-stat-component">
            <%= image_tag "resources/commentfill.png" %>
            <p><%= p.likes.count %></p>
          </div>
        </div>
        <%= link_to image_tag(p.image), partials_post_comments_path(p.id), class: "user-post-image", value: p.id %>
      </div>
      <% end %>
    </div>
    <nav id="page-nav">
      <%= will_paginate @posts %>
    </nav>
    <script type="text/javascript">
      <%= render "users/show.js.erb" %>
    </script>
  </div>
</div>
