<% provide :title, @user.fullname %>
<div class="user-page-container">
  <div class="user-page-header">
    <div class="user-page-avatar">
      <%= image_tag @user.avatar%>
    </div>
    <div class="user-page-info">
      <div class="user-page-info-row user-page-info-row-1">
        <h3><%= @user.username %></h3>
        <%= render "follow_form" if logged_in? %>
      </div>
      <div class="user-page-info-row user-page-info-stat">

        <% @user ||= current_user %>
          <%= t(".posts", count: "<strong class='stat'> #{@user.posts.count} </strong>").html_safe%>
          <%= link_to t(".followers",
            count: "<strong id='followers', class='stat'> #{@user.followers.count} </strong>").html_safe,
            followers_user_path(@user) %>
          <%= link_to t(".following",
            count: "<strong class='stat'> #{@user.following.count} </strong>").html_safe,
            following_user_path(@user) %>
      </div>
      <div class="user-page-info-row">
        <p><b><%= @user.fullname %></b> <%= @user.bio%></p>
      </div>
    </div>
  </div>
  <% if @user.isprivate? && !current_user.following?(@user) && !current_user?(@user) %>
    <div class="user-blank-container">
      <div class="form-container">
        <h2><%= t ".private_title" %></h2>
        <p><%= t ".private_des" %></p>
  <div class="user-page-main">
    <div class="user-page-main-wrapper">

    </div>
  <% else %>
    <% if @user.posts.count == 0 %>
      <div class="user-blank-container">
        <div class="form-container">
          <h2><%= t ".no_post" %></h2>
        </div>
      </div>
    <% else %>
      <div class="user-page-main">
        <div class="user-page-main-wrapper">
          <%= render partial: "post", collection: @posts %>
        </div>
        <nav id="page-nav">
          <%= will_paginate @posts %>
        </nav>
        <script type="text/javascript">
          <%= render "users/show.js.erb" %>
        </script>
      </div>
    <% end %>
  <% end%>
</div>
