<ul>
  <% @feed.each do |p| %>
    <li id="post-<%= p.id %>" class="col-md-6" style="list-style: none">
      <br>
      <p>
        <b>
          <%= image_tag "resources/avatar-placeholder.png",width:  50, height: 50 %>
          &nbsp;<%= link_to p.user.username, user_path(p.user_id) %>
        </b>
      </p>
      <%= image_tag "upload/post/sample.jpg",width:  490 %>
      <br><br>
      <a href="#">Like</a>
      <a href="#">Comment</a>
      <br><br>
      <p><%= p.caption %></p>
      <small><em>Posted <%= time_ago_in_words(p.created_at) %> ago.</em></small>
    </li>
  <% end %>
</ul>
