 <script type="text/javascript">
        <%= render "posts/new.js.erb" %>
      </script>
<%= form_for @post, html: { class: "caption-form" } do |f| %>
  <span class="upload-btn-wrapper">
    <div class="btn-upload"><%= t ".upload" %></div>
    <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png", id: "upload-btn"%>
  </span>
  <div id="popup-upload-form" >
    <div class="preview-box"><img id="preview_upload" src=""></div>
    <div class="caption-box" contenteditable="true" placeholder="<%= t".new_post" %>"></div>
    <%= f.hidden_field :caption, class: "form-control caption-hidden-field" %>
    <br>
    <%= f.submit t(".submit_post"), class: "post-button"%>
  </div>
  <div class="cancel-post"><%= t ".cancel_post" %></div>
<% end %>
