<% if version.item_type == "Relationship" && Relationship.find_by_id(version.item_id).present? %>
  <div class="form-container-row form-container-row-log">
    <div class="form-container-col form-container-left-log">
      <p><%= t(".follow",
        followed: link_to("#{image_tag(Relationship.find_by_id(version.item_id).followed.avatar)}
          #{Relationship.find_by_id(version.item_id).followed.username}".html_safe,
          user_path(Relationship.find_by_id(version.item_id).followed),
          target: :_blank)).html_safe %></p>
      <h6><%= version.created_at.strftime("%c") %></h6>
    </div>
    <div class="form-container-col form-container-right-log" >
    </div>
  </div>
<% end %>
<% if version.item_type == "Like" && Like.find_by_id(version.item_id).present? %>
  <div class="form-container-row form-container-row-log">
    <div class="form-container-col form-container-left-log">
      <p><%= t(".like",
        user: link_to(Like.find_by_id(version.item_id).post.user.username,
          user_path(Like.find_by_id(version.item_id).post.user), target: :_blank),
        photo: link_to(t(".photo"),
          post_path(Like.find_by_id(version.item_id).post), target: :_blank)).html_safe %></p>
      <h6><%= version.created_at.strftime("%c") %></h6>
    </div>
    <div class="form-container-col form-container-right-log" >
      <%= link_to(image_tag(Like.find_by_id(version.item_id).post.photos.first.image.url(:thumb)),
        post_path(Like.find_by_id(version.item_id).post), target: :_blank) %>
    </div>
  </div>
<% end %>
<% if version.item_type == "Comment" && Comment.find_by_id(version.item_id).present? %>
  <div class="form-container-row form-container-row-log">
    <div class="form-container-col form-container-left-log">
      <p><%= t(".comment",
        content: "<i>#{Comment.find_by_id(version.item_id).content}</i>".html_safe,
        user: link_to(Comment.find_by_id(version.item_id).post.user.username,
          user_path(Comment.find_by_id(version.item_id).post.user), target: :_blank),
        photo: link_to(t(".photo"),
          post_path(Comment.find_by_id(version.item_id).post), target: :_blank)).html_safe %></p>
      <h6><%= version.created_at.strftime("%c") %></h6>
    </div>
    <div class="form-container-col form-container-right-log" >
      <%= link_to(image_tag(Comment.find_by_id(version.item_id).post.photos.first.image.url(:thumb)),
        post_path(Comment.find_by_id(version.item_id).post), target: :_blank) %>
    </div>
  </div>
<% end %>
<% if version.item_type == "Post" && Post.find_by_id(version.item_id).present? %>
  <div class="form-container-row form-container-row-log">
    <div class="form-container-col form-container-left-log">
      <p><%= t(".post",
        post: link_to(t(".photo"),
          post_path(Post.find_by_id(version.item_id)), target: :_blank)).html_safe %></p>
      <h6><%= version.created_at.strftime("%c") %></h6>
    </div>
    <div class="form-container-col form-container-right-log" >
      <%= link_to(image_tag(Post.find_by_id(version.item_id).photos.first.image.url(:thumb)),
        post_path(Post.find_by_id(version.item_id)), target: :_blank) %>
    </div>
  </div>
<% end %>

