$(document).ready(function(){

// Preview upload
// Display User Tags and Hashtags
  var userList = [];
  var hashtagList = [];
  <% if @user_tags%>
    <% @user_tags.each do |user| %>
      userList.push({"id" : <%= raw user.id %>,
        "avatar" : "<%= raw user.avatar %>",
        "username" : "<%= raw user.username %>"
      });
    <% end %>
  <% end %>

  <% if @hashtags%>
    <% @hashtags.each do |hashtag| %>
      hashtagList.push({"id" : <%= raw hashtag.id %>,
        "content" : "<%= raw hashtag.content %>"
      });
    <% end %>
  <% end %>
  $(".caption-box").atwho({
    at: "@",
    data: userList,
    startWithSpace: true,
    searchKey: "username",
    insertTpl: ("<a class=\"tag-user-item\" href=\"/users/${id}\">\@${username}</a>"),
    displayTpl: ('<li class=\"tag-user-item\"><img class="dropdown-avatar"\
      src="${avatar}" style="border-radius: 50%;" />@${username}</li>')
  });
// Upload
  $("#upload-btn").change(function () {
    preview_upload(this);
    $(".upload-btn-wrapper input[type=file]").css("height","60px");
    $(".btn-upload").addClass("btn-upload-extended").html('<%= t ".choose_another" %>');
    $("#popup-upload-form").fadeIn(300);
  });

//Submit caption
  $(".cancel-post").click(function(){
    cancel_post();
  });

  $(document).on("click", ".caption-form", (function() {
    $(this).find(".caption-hidden-field").val($(".caption-box").html());
  }));
});

function cancel_post() {
  var check = confirm('<%= t ".confirm_cancel" %>');
  if (check) {
    $(".caption-box").empty();
    $(".caption-form")[0].reset();
    $(".caption-popup-box").hide();
    $("#popup-upload-form").hide();
    $(".btn-upload").removeClass("btn-upload-extended");
    $(".btn-upload").addClass("height-300").html('<%= t ".upload" %>');
    $("#upload-btn").addClass("height-300");
    $(".dim-upload-post").fadeOut(300);
  }
}
