$(document).ready(function(){
// Preview upload
  function preview_upload(input){
    if (input.files && input.files[0]){
      var reader = new FileReader();
      reader.onload = function (e) {
        $("#preview_upload")
          .attr("src", e.target.result)
          .addClass("preview_upload")
      };
      reader.readAsDataURL(input.files[0]);
    }
  }
// Display User Tags and Hashtags
  var userList = [];
  var hashtagList = [];

  <% @user_tags.each do |user| %>
    userList.push({"id" : <%= raw user.id %>,
      "avatar" : "<%= raw user.avatar %>",
      "username" : "<%= raw user.username %>"
    });
  <% end %>

  <% @hashtags.each do |hashtag| %>
    hashtagList.push({"id" : <%= raw hashtag.id %>,
      "content" : "<%= raw hashtag.content %>"
    });
  <% end %>

  $(".caption-box").atwho({
    at: "@",
    data: userList,
    startWithSpace: true,
    searchKey: "username",
    insertTpl: ("<a class=\"tag-user-item\" href=\"/users/${id}\">\@${username}</a>"),
    displayTpl: ('<li><img class="dropdown-avatar"\
     src="assets/${avatar}" style="border-radius: 50%;" />@${username}</li>')
  });

  $(".caption-box").atwho({
    at: "#",
    data: hashtagList,
    startWithSpace: true,
    searchKey: "content",
   insertTpl: ("<a class=\"tag-user-item\" href=\"/users/${id}\">\#${content}</a>"),
    displayTpl: ("<li>\#${content}</li>")
  });
// Upload
  $("#upload-btn").change(function () {
    preview_upload(this);
    $(".upload-btn-wrapper input[type=file]").css("height","60px");
    $(".btn-upload").addClass("btn-upload-extended").html('<%= t ".choose_another" %>');
    $("#popup-upload-form").fadeIn(300);
  });

  function cancel_post() {
    var check = confirm('<%= t ".confirm_cancel" %>');
    if (check) {
      $(".caption-box").empty();
      $(".caption-form")[0].reset();
      $(".caption-popup-box").hide();
      $("#popup-upload-form").hide();
      $(".btn-upload").removeClass("btn-upload-extended");
      $(".btn-upload").css("height","300px").html('<%= t ".upload" %>');
      $("#upload-btn").css("height","300px");
      $(".dim").fadeOut(300);
    }
  }
//Submit caption
  $(".cancel-post").click(function(){
    cancel_post();
  });

  $(".dim-upload-post").click(function(){
    cancel_post();
    $(".popup").removeClass(".popup");
  });



  $(document).on("click", ".caption-form", (function() {
    $(this).find(".caption-hidden-field").val($(".caption-box").html());
  }));
});
