<div class="post-box post-box-<%= post.id %>">
  <div class="post-box-header">
    <%= link_to image_tag(post.user.avatar), post.user%>
    <%= link_to post.user.username, post.user %>
    <% if post.user.permission == 1 %>
      <span class="glyphicon glyphicon-star admin-star"></span>
    <% end %>
  </div>
  <div class="post-box-image">
    <% if post.photos.count == 0 %>
      <p><%= t ".no_images" %></p>
    <% elsif post.photos.count == 1 %>
      <% post.photos.each do |p| %>
        <%= link_to image_tag(p.image.url :thumb), post, remote: true %>
      <% end %>
    <% elsif post.photos.count > 1 %>

    <div id="album-<%= post.id %>" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <% post.photos.each_with_index do |p,i| %>
           <li data-target="#album-<%= p.id %>" data-slide-to="<%= i %>" class="<%= "active" if i == 0 %>"></li>
        <% end %>
      </ol>
      <div class="carousel-inner feed-slide">
        <% post.photos.each_with_index do |p,i| %>
          <div class="item feed-item <%= "active" if i == 0 %>">
            <%= link_to image_tag(p.image.url(:thumb), class: "item-img"), post, remote: true %>
          </div>
        <% end %>
      </div>
      <a class="left carousel-control" href="#album-<%= post.id %>" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only"><%= t ".next" %></span>
      </a>
      <a class="right carousel-control" href="#album-<%= post.id %>" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only"><%= t ".prev" %></span>
      </a>
    </div>
    <% end %>
  </div>
  <% if logged_in? %>
    <div class="post-box-interaction">
      <div class="post-box-like-<%= post.id %>">
        <% if current_user.like? post %>
          <%= render partial: "unlike", locals: {post: post} %>
        <% else %>
          <%= render partial: "like", locals: {post: post} %>
        <% end %>
      </div>
      <%= image_submit_tag("resources/comment", class: "get-to-comment", value: post.id) %>
    </div>
  <% end %>
  <div class="post-box-count">
    <%= link_to t(".count",
      count: like_count(post)).html_safe,
      "#" %>
  </div>
  <div class="post-box-caption post-box-caption-<%= post.id %>">
      <p><%= sanitize render_hashtag(post.caption) %></p>
  </div>
  <div class="post-box-comment post-box-comment-<%= post.id %>">
    <% if post.comments.count > Settings.min_comment_load %>
      <div class="load-more-comm-wrapper load-more-comm-wrapper-<%= post.id %>">
        <%= link_to t(".load-more"), {controller: "comments", action: "index",
          id: post.id, page: 2}, class: "load-more-comm load-more-comm-#{post.id}",
          value: 1, remote: true %>
      </div>
      <%= render partial: Comment
        .from(post.comments.order(created_at: :desc).limit(Settings.min_comment_load), :desc)
        .select("desc.*").order("desc.created_at asc") %>
    <% else %>
      <%= render partial: post.comments %>
    <% end %>
  </div>
  <div class="post-box-upload-at">
    <p><%= t(".time", time: time_ago_in_words(post.created_at) ).upcase %></p>
  </div>
  <div class="post-box-add-comment">
    <%= render partial: "add_comment", locals: {post: post} %>
  </div>
</div>
