<div class="post-box post-box-<%= post.id %>">
  <div class="post-box-header">
    <%= link_to "#{image_tag(post.user.avatar)} #{post.user.username}".html_safe, post.user %>
  </div>
  <div class="post-box-image">
    <%= link_to image_tag(post.image.url(:thumb)), post, remote: true %>
  </div>
  <% if logged_in? %>
    <div class="post-box-interaction">
      <div class="post-box-like-<%= post.id %>">
        <% if current_user.like? post %>
          <%= render partial: "unlike", locals: {post: post} %>
        <% else %>
          <%= render partial: "like", locals: {post: post} %>
        <% end %>
      </div>
      <%= image_submit_tag("resources/comment", class: "get-to-comment", value: post.id) %>
    </div>
  <% end %>
  <div class="post-box-count">
    <%= link_to t(".count",
      count: like_count(post)).html_safe,
      "#" %>
  </div>
  <div class="post-box-caption post-box-caption-<%= post.id %>">
      <p><%= sanitize render_hashtag(post.caption) %></p>
  </div>
  <div class="post-box-comment post-box-comment-<%= post.id %>">
    <% if post.comments.count > Settings.min_comment_load %>
      <div class="load-more-comm-wrapper load-more-comm-wrapper-<%= post.id %>">
        <%= link_to t(".load-more"), {controller: "comments", action: "index",
          id: post.id, page: 2}, class: "load-more-comm load-more-comm-#{post.id}",
          value: 1, remote: true %>
      </div>
      <%= render partial: Comment
        .from(post.comments.order(created_at: :desc).limit(Settings.min_comment_load), :desc)
        .select("desc.*").order("desc.created_at asc") %>
    <% else %>
      <%= render partial: post.comments %>
    <% end %>
  </div>
  <div class="post-box-upload-at">
    <p><%= t(".time", time: time_ago_in_words(post.created_at) ).upcase %></p>
  </div>
  <div class="post-box-add-comment">
    <%= render partial: "add_comment", locals: {post: post} %>
  </div>
</div>
