<div class="post-box">
  <div class="post-box-header">
    <%= link_to "#{image_tag(post.user.avatar)} #{post.user.username}".html_safe, "#" %>
  </div>
  <div class="post-box-image">
    <%= link_to image_tag(post.image.url), "#" %>
  </div>
  <div class="post-box-interaction">
    <%= link_to image_tag("resources/like"), "#" %>
    <%= link_to image_tag("resources/comment"), "#" %>
  </div>
  <div class="post-box-caption">
    <% post_caption = sanitize post.caption %>
    <% if post_caption.length > 50 %>
      <p><%= sanitize post_caption %></p>
      <%= link_to t(".more"), "", class: "read-more-#{post.id}" %>
      <script>
        $('.read-more-<%= post.id %>').on('click', function(e) {
          e.preventDefault()
          $(this).parent().html('<p><%= escape_javascript post.caption %></p>')
        })
      </script>
    <% else %>
      <p><%= post_caption %></p>
    <% end %>
  </div>
  <div class="post-box-comment"></div>
  <div class="post-box-upload-at">
    <small>Posted <%= time_ago_in_words(post.created_at) %> ago.</small>
  </div>
</div>
