<script type="text/javascript">
  <%= render "show.js" %>
</script>
<div class="recommend-text"><b><%=t ".recommend" %></b></div>
<div class="suggest-users">
  <%= render "users/user" %>
</div>
<div class="index-container">
  <div id="my-posts">
    <%= render @posts %>
  </div>
</div>
<nav id="page-nav">

  <%= will_paginate @posts %>
</nav>

<script type="text/javascript">
  <%= render "posts/index.js.erb" %>
  <%= render "posts/index_comment.js.erb" %>
</script>

