$(".dropdown").click (function () {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    $("#notifications").html(this.responseText);
  };
  xhttp.open("GET", "<%= notification_path %>", true);
  xhttp.send();
  $("#noti_number").hide();
});

function search(url){
  window.location.href(url);
}

$(document).ready(function(){

  var userList = [];
  var hashtagList = [];

  <% @user_tags.each do |user| %>
    userList.push({"id" : <%= raw user.id %>,
      "avatar" : "<%= raw user.avatar %>",
      "username" : "<%= raw user.username %>"
    });
  <% end %>

  $(".search_box_text").atwho({
    at: "@",
    data: userList,
    highlightFirst: true,
    startWithSpace: true,
    searchKey: "username",
    insertTpl: ("<a class=\"tag-user-item\" href=\"/users/${id}\">${username}"),
    displayTpl: ("<li><a class=\"search-user-item\" onclick=\"window.location.href = this;\" href=\"/users/${id}\"><img class=\"dropdown-avatar\" src=\"${avatar}\"/>${username}</a></li>")
  });

  <% Hashtag.get_all_hashtags.each do |hashtag| %>
    hashtagList.push({"id" : <%= raw hashtag.id %>,
      "content" : "<%= raw hashtag.content %>"
    });
  <% end %>

  $(".search_box_text").atwho({
    at: "#",
    data: hashtagList,
    highlightFirst: true,
    startWithSpace: true,
    searchKey: "content",
    insertTpl: ("<a class=\"tag-user-item\" href=\"/posts/hashtag/${content}\">${content}"),
    displayTpl: ("<li><a class=\"search-user-item\" onclick=\"window.location.href = this;\" href=\"/posts/hashtag/${content}\">\#${content}</a></li>")
  });
});
