<header class="navbar navbar-fixed-top">
  <div class="container">
    <div class ="col-xs-4 header-logo-wrapper" >
      <%= link_to image_tag("header/l.png", alt: t(".logo_alt"),  id: "logo"), root_path %>
      <div></div>
      <%= link_to image_tag("header/t.png", alt: t(".logo_alt"), id: "rubylicious_text"), root_path %>
    </div>
    <div class="search_box col-md-4">
      <div class="search_box_text" contenteditable="true" placeholder="<%= t ".search_hidden" %>"></div>
    </div>
    <% if logged_in? %>
      <nav class="col-xs-4">
        <ul class="nav navbar-nav navbar-right">
          <%= image_tag "header/upload.png", alt: t(".upload_alt"), id: "icon", class: "icon-upload"%>
          <div class="dropdown" onclick="load_notification()">
            <%= link_to image_tag("header/noti.png", alt: t(".noti_alt"), id:"icon"), "#", class: "dropdown-toggle", data: {toggle: "dropdown"} %>
            <div class="number_ground">
              <% i  = 0 %>
              <% if noti_number > 0 %>
                <div class="noti_number" id="noti_number">
                  <%= i = noti_number %>
                </div>
              <% end %>
            </div>
            <ul class="dropdown-menu" >
              <div class="noti_title">
                <b><%= t ".noti_title" %></b>
              </div>
              <hr>
              <div id = "notifications">
              </div>
            </ul>
          </div>
          <%= link_to image_tag("header/person.png", alt: t(".person_alt"), id: "icon"), current_user %>
        </ul>
      </nav>
      <span id="current_user_id" style="display:none"><%= @current_user_id = current_user.id %></span>
    <% else %>
    <nav class="col-xs-4 col-xs-4-without-login">
      <ul class="nav navbar-nav navbar-right">
        <%= link_to t(".signup"), signup_path, class: "header-signup" %>
        <%= link_to t(".login"), login_path, class: "header-login" %>
      </ul>
    </nav>
    <% end %>
  </div>
</header>

<script type="text/javascript">
  <%= render "layouts/custom.js.erb" %>
</script>
