<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class ="col-md-4" >
      <%= link_to image_tag("header/l.png", alt: t(".logo_alt"),  id: "logo"), root_path %>
      <%= link_to image_tag("header/t.png", alt: t(".logo_alt"), id: "rubylicious_text"), root_path %>
    </div>
    <div class="search_box col-md-4">
      <input type="text" name="search_text" placeholder="<%= t ".search_hidden" %>" >
    </div>
    <nav class="col-md-4">
      <ul class="nav navbar-nav navbar-right">
        <%= link_to image_tag("header/upload.png", alt: t(".upload_alt"), id: "icon"), "#" %>
        <div class="dropdown">
          <%= link_to image_tag("header/noti.png", alt: t(".noti_alt"), id:"icon"), "#", class: "dropdown-toggle", data: {toggle: "dropdown"} %>
          <div class="noti_number">
            10
          </div>
          <ul class="dropdown-menu">
            <li class="item_dropdown">
              <%= image_tag "header/person.png", alt: t(".ava_alt"), class: "noti_img" %>
              <%= link_to "aaaaa", "#", class: "noti_text" %>
            </li>
            <li class="item_dropdown">
              <%= image_tag "header/person.png", alt: t(".ava_alt"), class: "noti_img" %>
              <%= link_to "bbbbb", "#", class: "noti_text" %>
            </li>
            <li class="item_dropdown">
              <%= image_tag "header/person.png", alt: t(".ava_alt"), class: "noti_img" %>
              <%= link_to "ccccc", "#", class: "noti_text" %>
            </li>
          </ul>
        </div>
        <%= link_to image_tag("header/person.png", alt: t(".person_alt"), id: "icon"), "#" %>
      </ul>
    </nav>
  </div>
</header>
