<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>
  <body>
    <div id="dim" class="dim"></div>
    <div class="single-post-wrapper">
      <div class="nearest-post-wrapper prev-post-wrapper"></div>
      <div class="single-post-container"></div>
      <div class="nearest-post-wrapper next-post-wrapper"></div>
    </div>
    <% unless current_page? signup_path or current_page? login_path %>
      <%= render "layouts/header" %>
      <script type="text/javascript">
        <%= render "layouts/body.js.erb" %>
      </script>
      <div class="caption-popup-box"></div>
    <% end %>
    <div class="container">
      <div class="flash-wrapper">
        <% flash.each do |message_type, message| %>
          <%= content_tag :div, message, class: "alert alert-#{message_type}" %>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
